@media (max-width: 670px) {
    .about {
        margin: 0 1px;
        margin-top: 40px;
    }

    .container1 {
        display: block;
    }

    .foto {
        margin: 0 auto;
    }

    .foto img {
        margin: 0px 53px;
    }

    .caption {
        padding-top: 0;
        margin: 0px 20px;
        width: 90%;
        text-align: center;
    }

    footer h4 {
        font-size: 13px;
    }
}