* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    cursor: default;
}

.header-list {
    text-align: right;
    padding: 15px;
}

a {
    text-decoration: none;
}

.header-list a {
    color: black;
    font-size: 20px;
    padding: 15px 20px;
    font-weight: bold;
    opacity: 0.6;
}

.header-list a:hover {
    opacity: 1;
}

.main {
    padding: 0px 25px;
}

.main h3 {
    border-bottom: 2px solid #dee7ec;
}

.container1 {
    display: flex;
}

.foto {
    margin: 0 auto;
    margin-right: 0;
}

.caption {
    width: 50%;
    text-align: justify;
    margin: 0 auto;
    margin-left: 0;
}

footer {
    background-color: #2f5167;
    color: #fff;
    height: 90px;
}

footer h4 {
    text-align: center;
    padding: 40px;
    padding-bottom: 30px;
}