* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    cursor: default;
}

.header-list {
    text-align: right;
    padding: 15px;
}

a {
    text-decoration: none;
}

.header-list a {
    color: black;
    font-size: 20px;
    padding: 0px;
    font-weight: bold;
    opacity: 0.6;
}

.list-satu {
    margin-right: 30px;
}

.list-dua {
    margin-right: 10px;
}

.header-list a:hover {
    opacity: 1;
}

.main {
    padding: 0px 25px;
}

span {
    color: red;
}

.about {
    border: 2px solid #dee7ec;
    border-radius: 20px;
    margin: 0px 150px;
    box-shadow: 5px 5px 8px #888888;
}

.container1 {
    display: flex;
    margin: 30px 0;
}

.foto {
    margin: 0 auto;
    margin-right: 0;
    margin-left: 30px;
}

.foto img {
    border-radius: 100%;
}

.caption {
    width: 75%;
    text-align: justify;
    margin-left: 20px;
    padding-top: 50px;
    margin-right: 30px;
}

footer {
    background-color: #2f5167;
    color: #fff;
    height: 90px;
    margin-top: 78px;
}

footer h4 {
    text-align: center;
    padding: 40px;
    padding-bottom: 30px;
}