body {
    font-family:'Courier New', Courier, monospace;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    font-size: 20px;
    opacity: 0.9;
    padding: 15px 20px;
    float: right;
}

li:hover {
    opacity: 1;
    display: inline;
}

ul {
    margin: 0;
}

header {
    height: 50px;
}

.main {
    padding: 50px;
    padding-bottom: 60px;
}

.github {
    background-color: black;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 4px;
    color: white;
    opacity: 0.8;
}

.linkedin {
    background-color: #0077b5;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 4px;
    color: white;
    opacity: 0.8;
}

.github, .linkedin{
    margin-top: 20px;
}

.github:hover, .linkedin:hover {
    opacity: 1;
}

.atas {
    margin-bottom: 50px;
    text-align: center;
}

.atas h1 {
    font-size: 50px;
}

span {
    color: red;
}

.atas h2 {
    font-size: 20px;
}

.atas h1,h2 {
    margin: 0;
}

.garis {
    border-bottom: 2px solid #dee7ec;
}

.tengah {
    margin-bottom: 50px;
}

.bawah {
    margin-bottom: 50px;
}

footer {
    background-color: #2f5167;
    color: #fff;
    height: 90px;
}

footer h4 {
    text-align: center;
    padding: 40px;
    padding-bottom: 30px;
}